<body>
  <div class="title-bar">
    <a routerLink="/employeeadd">Add Employee</a>
  </div>
<h2 style="text-align:center;font-family: Arial;">Employee Details</h2>
<div class="container">
<form [formGroup] ="EmployeeDetails">
  <table>
    <tr>
      <td>
        <label>Profile Photo</label></td>
      <td><input type="url" placeholder="Enter Url" formControlName="url" id="url" /></td>
      <br />
    </tr>
    <tr>
      <td>
        <label>Name</label><br /></td>
      <td><input type="text" placeholder="Enter Name" formControlName="name" id="name" /></td>
      <br />
    </tr>
    <tr>
      <td>
        <label>Date of Birth</label><br />
      </td>
      <td>
        <input type="date" placeholder="Enter DOB" formControlName="dob" id="dob" />
        <br />
      </td>
    </tr>
    <tr>
      <td>
        <label>Job Tile</label><br /></td>
      <td><input type="text" placeholder="Enter job title" formControlName="title" id="title" /></td>
      <br />
    </tr>
    <tr>
      <td>
        <label>Date of Joining</label><br /></td>
      <td><input type="date" placeholder="Enter DOJ" formControlName="doj" id="doj" /></td>
      <br />
    </tr>
    <tr>
      <td> 
        <label>Place</label><br /></td>
      <td><input type="text" placeholder="Enter Place" formControlName="place" id="place" /></td>
    </tr>
  </table><br/>
  <button type="button" style="color: white;" (click)="addNewEmployee()">Add Employee</button>
</form>
</div>
</body>