:host{
    width: 100%;
    height: 100%;
    font-family: Arial;
    margin: 0%;
    font-size: larger;
}
.title-bar{
  
    width: 100%;
    height: 70px;
    background-color:  #12343b;
    margin-top: -10px;
  
    box-shadow: 0 4px 10px 0 rgba(10, 10, 10, 0.2);
  }
  .title-bar a{
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 25px;
      position: relative;
      left: 90px;
      background-color: #12343b;
  }
  .title-bar a:hover {
    background-color: #ddd;
    color: black;
  }
  input{ 
    height: 80px;
    width: 400px;  
    border: none; 
    background-color:beige; 
}
button{
    border: none;
    background-color:#12343b;
    height: 60px;
    width: 18%;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(10, 10, 10, 0.2);
}
.container{
margin-left: 10%;
}
td {
    padding: 3%;
}
