<body>
    <div class="title-bar">
    </div>
    <h2 style="text-align:center;font-family: Arial;">The Team</h2>
    <button class="add-button" id="split">Add Employee</button>
    <div class="card">
        <img src="" id="image">
        <h1 id="name">Troye Sivan</h1>
        <div style="margin: 24px 0;">
        </div>
        <!--<mat-accordion> 
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                View More
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>content of the panel.</p>
          </mat-expansion-panel> 
        </mat-accordion>-->
    </div>
    </body>
    <!--
        <div class="view">
            <button type="button" class="collapsible">View More</button>
            <div class="content">
                <p id="title">Title</p>
                <p id="place">Place</p>
            </div>
        </div>
    -->
