.box{
    width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
    position:relative;
    top: 70px;
	background:url(https://us.123rf.com/450wm/solomapoppy/solomapoppy1704/solomapoppy170400019/75483176-stock-vector-workspace-of-professional-working-developer-programmer-system-administrator-or-designer-with-desk-ch.jpg?ver=6) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
