
.topnav {
    background-color: #12343b;
    overflow: hidden;
    height: 70px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    left: 90px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .profile{
    width:100%;
    left:120px;
    max-width:300px;
    min-height:600px;
    position:relative;
    top: 70px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }


  button{
    position: relative; 
    top: 3px; 
    left: 1000px;
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 62px;
    width: 150px;
    font-size: x-large;
  }




  body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  position: relative;
  top: 70px;
  width: 80%;

  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 47px;
  width: 100px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background:url(https://www.color-hex.com/palettes/17559.png) no-repeat center;
  
  padding: 20px;
  position: absolute;
  left: 680px;
  top: 170px;
  height: 550px;
  width: 900px;
}