.container {
    position: relative;
    top: 1rem;
}
.body {
    background-color: #F3F0F0;
    padding: 2% 3% 2%;
    border-radius: 10px;
    margin: 2rem auto;
}
#title {
    background-color:  #F3F0F0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 2rem;
}
.company-name {
    color: teal;
    position: relative;
    left: 2rem;
    font-weight: 800;
}
h3 {
    color:rgb(56, 56, 56);
    text-align: center;
    font-weight: bold;
    font-family: serif;
}
.employee {
    text-align: start;
    line-height: 2;
    word-spacing: 1rem;
}
#year {
    position: relative;
    right:8rem;
    float:right;
}
#date {
    position: absolute;
    left: 80%;
    top: 29%;
}
.eDetails {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    display: inline-block;
    list-style: none;
}
.details {
    font-family: "verdana", sans-serif;
    font-weight: 500;
    padding-left: 1rem;
    letter-spacing: 2px;
}
.table {
    table-layout: fixed;
    border-width: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
thead {
    text-align: center;
}
tbody {
    font-weight: 500;
}
.table-data {
    text-align: center;
}
#Net {
    font-size: 20px;
    font-family: "Montserrat",sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
}
.otherDetails {
    padding: 1rem 0rem 0rem 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
#bankname {
    text-align: left;
    position: absolute;
    bottom: 1rem;
    right: 10rem;
}
button {
    position: relative;
    top: 1rem;
    left: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}


.topnav {
    background-color: #12343b;
    overflow: hidden;
    height: 70px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    left: 90px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }